In [21]:
import pandas as pd
import numpy as np

In [22]:
fuel = pd.read_csv('../data/fuel.csv', usecols=['Year','Make','Model','Range (FT1)','City Range (FT1)'])

In [23]:
fuel.head()

   Year        Make               Model  Range (FT1)  City Range (FT1)
0  1984  Alfa Romeo           GT V6 2.5          0.0               0.0
1  1984  Alfa Romeo           GT V6 2.5          0.0               0.0
2  1984  Alfa Romeo  Spider Veloce 2000          0.0               0.0
3  1984  Alfa Romeo  Spider Veloce 2000          0.0               0.0
4  1984  AM General   DJ Po Vehicle 2WD          0.0               0.0

In [24]:
len(fuel)

31684

In [25]:
fuel.drop_duplicates(subset=['Year','Make','Model'], inplace=True)

In [26]:
len(fuel)

13146

In [27]:
fuel.dropna(how='any',inplace=True)

In [28]:
len(fuel)

13145

In [29]:
fuel.set_index(['Year','Make','Model'], inplace=True)

In [30]:
fuel.head()

                                                     Range (FT1)  \
Year Make                        Model
1984 Alfa Romeo                  GT V6 2.5                   0.0
                                 Spider Veloce 2000          0.0
     AM General                  DJ Po Vehicle 2WD           0.0
                                 FJ8c Post Office            0.0
     American Motors Corporation Eagle 4WD                   0.0

                                                     City Range (FT1)
Year Make                        Model
1984 Alfa Romeo                  GT V6 2.5                        0.0
                                 Spider Veloce 2000               0.0
     AM General                  DJ Po Vehicle 2WD                0.0
                                 FJ8c Post Office                 0.0
     American Motors Corporation Eagle 4WD                        0.0

In [31]:
len(fuel)

13145

In [33]:
fuel.stack().head()

Year  Make        Model
1984  Alfa Romeo  GT V6 2.5           Range (FT1)         0.0
                                      City Range (FT1)    0.0
                  Spider Veloce 2000  Range (FT1)         0.0
                                      City Range (FT1)    0.0
      AM General  DJ Po Vehicle 2WD   Range (FT1)         0.0
dtype: float64

In [34]:
fuel.stack().to_frame()

                                                       0
Year Make       Model
1984 Alfa Romeo GT V6 2.5          Range (FT1)       0.0
                                   City Range (FT1)  0.0
                Spider Veloce 2000 Range (FT1)       0.0
                                   City Range (FT1)  0.0
     AM General DJ Po Vehicle 2WD  Range (FT1)       0.0
...                                                  ...
2012 Mitsubishi Lancer             City Range (FT1)  0.0
                Lancer AWD         Range (FT1)       0.0
                                   City Range (FT1)  0.0
                Lancer Evolution   Range (FT1)       0.0
                                   City Range (FT1)  0.0

[26290 rows x 1 columns]

In [35]:
fuel.unstack(level='Model')

                                 Range (FT1)                             \
Model                                 09-Mar 09-May 1-Ton Truck 2WD 100
Year Make
1984 AM General                          NaN    NaN             NaN NaN
     Alfa Romeo                          NaN    NaN             NaN NaN
     American Motors Corporation         NaN    NaN             NaN NaN
     Aston Martin                        NaN    NaN             NaN NaN
     Audi                                NaN    NaN             NaN NaN
...                                      ...    ...             ...  ..
2012 Maybach                             NaN    NaN             NaN NaN
     Mazda                               NaN    NaN             NaN NaN
     McLaren Automotive                  NaN    NaN             NaN NaN
     Mercedes-Benz                       NaN    NaN             NaN NaN
     Mitsubishi                          NaN    NaN             NaN NaN

                                                                               \
Model                            100 Wagon 100 quattro 100 quattro Wagon 1000
Year Make
1984 AM General                        NaN         NaN               NaN  NaN
     Alfa Romeo                        NaN         NaN               NaN  NaN
     American Motors Corporation       NaN         NaN               NaN  NaN
     Aston Martin                      NaN         NaN               NaN  NaN
     Audi                              NaN         NaN               NaN  NaN
...                                    ...         ...               ...  ...
2012 Maybach                           NaN         NaN               NaN  NaN
     Mazda                             NaN         NaN               NaN  NaN
     McLaren Automotive                NaN         NaN               NaN  NaN
     Mercedes-Benz                     NaN         NaN               NaN  NaN
     Mitsubishi                        NaN         NaN               NaN  NaN

                                                         ...  \
Model                            128ci Convertible 128i  ...
Year Make                                                ...
1984 AM General                                NaN  NaN  ...
     Alfa Romeo                                NaN  NaN  ...
     American Motors Corporation               NaN  NaN  ...
     Aston Martin                              NaN  NaN  ...
     Audi                                      NaN  NaN  ...
...                                            ...  ...  ...
2012 Maybach                                   NaN  NaN  ...
     Mazda                                     NaN  NaN  ...
     McLaren Automotive                        NaN  NaN  ...
     Mercedes-Benz                             NaN  NaN  ...
     Mitsubishi                                NaN  NaN  ...

                                   City Range (FT1)                     \
Model                            i-350 Crew Cab 4WD i-370 Crew Cab 2WD
Year Make
1984 AM General                                 NaN                NaN
     Alfa Romeo                                 NaN                NaN
     American Motors Corporation                NaN                NaN
     Aston Martin                               NaN                NaN
     Audi                                       NaN                NaN
...                                             ...                ...
2012 Maybach                                    NaN                NaN
     Mazda                                      NaN                NaN
     McLaren Automotive                         NaN                NaN
     Mercedes-Benz                              NaN                NaN
     Mitsubishi                                 NaN                NaN

                                                                            \
Model                            i-370 Crew Cab 4WD i-370 Extended Cab 2WD
Year Make
1984 AM General                                 NaN                    NaN
     Alfa Romeo                                 NaN                    NaN
     American Motors Corporation                NaN                    NaN
     Aston Martin                               NaN                    NaN
     Audi                                       NaN                    NaN
...                                             ...                    ...
2012 Maybach                                    NaN                    NaN
     Mazda                                      NaN                    NaN
     McLaren Automotive                         NaN                    NaN
     Mercedes-Benz                              NaN                    NaN
     Mitsubishi                                 NaN                    NaN


Model                              i-MiEV  iQ  tC  xA  xB  xD
Year Make
1984 AM General                       NaN NaN NaN NaN NaN NaN
     Alfa Romeo                       NaN NaN NaN NaN NaN NaN
     American Motors Corporation      NaN NaN NaN NaN NaN NaN
     Aston Martin                     NaN NaN NaN NaN NaN NaN
     Audi                             NaN NaN NaN NaN NaN NaN
...                                   ...  ..  ..  ..  ..  ..
2012 Maybach                          NaN NaN NaN NaN NaN NaN
     Mazda                            NaN NaN NaN NaN NaN NaN
     McLaren Automotive               NaN NaN NaN NaN NaN NaN
     Mercedes-Benz                    NaN NaN NaN NaN NaN NaN
     Mitsubishi                   68.5545 NaN NaN NaN NaN NaN

[1386 rows x 5914 columns]

In [40]:
fuel.unstack()

                                 Range (FT1)                             \
Model                                 09-Mar 09-May 1-Ton Truck 2WD 100
Year Make
1984 AM General                          NaN    NaN             NaN NaN
     Alfa Romeo                          NaN    NaN             NaN NaN
     American Motors Corporation         NaN    NaN             NaN NaN
     Aston Martin                        NaN    NaN             NaN NaN
     Audi                                NaN    NaN             NaN NaN
...                                      ...    ...             ...  ..
2012 Maybach                             NaN    NaN             NaN NaN
     Mazda                               NaN    NaN             NaN NaN
     McLaren Automotive                  NaN    NaN             NaN NaN
     Mercedes-Benz                       NaN    NaN             NaN NaN
     Mitsubishi                          NaN    NaN             NaN NaN

                                                                               \
Model                            100 Wagon 100 quattro 100 quattro Wagon 1000
Year Make
1984 AM General                        NaN         NaN               NaN  NaN
     Alfa Romeo                        NaN         NaN               NaN  NaN
     American Motors Corporation       NaN         NaN               NaN  NaN
     Aston Martin                      NaN         NaN               NaN  NaN
     Audi                              NaN         NaN               NaN  NaN
...                                    ...         ...               ...  ...
2012 Maybach                           NaN         NaN               NaN  NaN
     Mazda                             NaN         NaN               NaN  NaN
     McLaren Automotive                NaN         NaN               NaN  NaN
     Mercedes-Benz                     NaN         NaN               NaN  NaN
     Mitsubishi                        NaN         NaN               NaN  NaN

                                                         ...  \
Model                            128ci Convertible 128i  ...
Year Make                                                ...
1984 AM General                                NaN  NaN  ...
     Alfa Romeo                                NaN  NaN  ...
     American Motors Corporation               NaN  NaN  ...
     Aston Martin                              NaN  NaN  ...
     Audi                                      NaN  NaN  ...
...                                            ...  ...  ...
2012 Maybach                                   NaN  NaN  ...
     Mazda                                     NaN  NaN  ...
     McLaren Automotive                        NaN  NaN  ...
     Mercedes-Benz                             NaN  NaN  ...
     Mitsubishi                                NaN  NaN  ...

                                   City Range (FT1)                     \
Model                            i-350 Crew Cab 4WD i-370 Crew Cab 2WD
Year Make
1984 AM General                                 NaN                NaN
     Alfa Romeo                                 NaN                NaN
     American Motors Corporation                NaN                NaN
     Aston Martin                               NaN                NaN
     Audi                                       NaN                NaN
...                                             ...                ...
2012 Maybach                                    NaN                NaN
     Mazda                                      NaN                NaN
     McLaren Automotive                         NaN                NaN
     Mercedes-Benz                              NaN                NaN
     Mitsubishi                                 NaN                NaN

                                                                            \
Model                            i-370 Crew Cab 4WD i-370 Extended Cab 2WD
Year Make
1984 AM General                                 NaN                    NaN
     Alfa Romeo                                 NaN                    NaN
     American Motors Corporation                NaN                    NaN
     Aston Martin                               NaN                    NaN
     Audi                                       NaN                    NaN
...                                             ...                    ...
2012 Maybach                                    NaN                    NaN
     Mazda                                      NaN                    NaN
     McLaren Automotive                         NaN                    NaN
     Mercedes-Benz                              NaN                    NaN
     Mitsubishi                                 NaN                    NaN


Model                              i-MiEV  iQ  tC  xA  xB  xD
Year Make
1984 AM General                       NaN NaN NaN NaN NaN NaN
     Alfa Romeo                       NaN NaN NaN NaN NaN NaN
     American Motors Corporation      NaN NaN NaN NaN NaN NaN
     Aston Martin                     NaN NaN NaN NaN NaN NaN
     Audi                             NaN NaN NaN NaN NaN NaN
...                                   ...  ..  ..  ..  ..  ..
2012 Maybach                          NaN NaN NaN NaN NaN NaN
     Mazda                            NaN NaN NaN NaN NaN NaN
     McLaren Automotive               NaN NaN NaN NaN NaN NaN
     Mercedes-Benz                    NaN NaN NaN NaN NaN NaN
     Mitsubishi                   68.5545 NaN NaN NaN NaN NaN

[1386 rows x 5914 columns]

In [41]:
fuel.unstack(level=['Model', 'Year'])

                            Range (FT1)                                       \
Model                         GT V6 2.5 Spider Veloce 2000 DJ Po Vehicle 2WD
Year                               1984               1984              1984
Make
AM General                          NaN                NaN               0.0
ASC Incorporated                    NaN                NaN               NaN
Acura                               NaN                NaN               NaN
Alfa Romeo                          0.0                0.0               NaN
American Motors Corporation         NaN                NaN               NaN
...                                 ...                ...               ...
Volkswagen                          NaN                NaN               NaN
Volvo                               NaN                NaN               NaN
Wallace Environmental               NaN                NaN               NaN
Yugo                                NaN                NaN               NaN
smart                               NaN                NaN               NaN

                                                                               \
Model                       FJ8c Post Office Eagle 4WD Eagle SX/4 4WD Lagonda
Year                                    1984      1984           1984    1984
Make
AM General                               0.0       NaN            NaN     NaN
ASC Incorporated                         NaN       NaN            NaN     NaN
Acura                                    NaN       NaN            NaN     NaN
Alfa Romeo                               NaN       NaN            NaN     NaN
American Motors Corporation              NaN       0.0            0.0     NaN
...                                      ...       ...            ...     ...
Volkswagen                               NaN       NaN            NaN     NaN
Volvo                                    NaN       NaN            NaN     NaN
Wallace Environmental                    NaN       NaN            NaN     NaN
Yugo                                     NaN       NaN            NaN     NaN
smart                                    NaN       NaN            NaN     NaN

                                                                        ...  \
Model                       Saloon/Vantage/Volante 4000 4000 S quattro  ...
Year                                          1984 1984           1984  ...
Make                                                                    ...
AM General                                     NaN  NaN            NaN  ...
ASC Incorporated                               NaN  NaN            NaN  ...
Acura                                          NaN  NaN            NaN  ...
Alfa Romeo                                     NaN  NaN            NaN  ...
American Motors Corporation                    NaN  NaN            NaN  ...
...                                            ...  ...            ...  ...
Volkswagen                                     NaN  NaN            NaN  ...
Volvo                                          NaN  NaN            NaN  ...
Wallace Environmental                          NaN  NaN            NaN  ...
Yugo                                           NaN  NaN            NaN  ...
smart                                          NaN  NaN            NaN  ...

                                         City Range (FT1)  \
Model                       John Cooper Works Convertible
Year                                                 2012
Make
AM General                                            NaN
ASC Incorporated                                      NaN
Acura                                                 NaN
Alfa Romeo                                            NaN
American Motors Corporation                           NaN
...                                                   ...
Volkswagen                                            NaN
Volvo                                                 NaN
Wallace Environmental                                 NaN
Yugo                                                  NaN
smart                                                 NaN

                                                     \
Model                       John Cooper Works Coupe
Year                                           2012
Make
AM General                                      NaN
ASC Incorporated                                NaN
Acura                                           NaN
Alfa Romeo                                      NaN
American Motors Corporation                     NaN
...                                             ...
Volkswagen                                      NaN
Volvo                                           NaN
Wallace Environmental                           NaN
Yugo                                            NaN
smart                                           NaN

                                                                               \
Model                       John Cooper Works Roadster Eclipse Eclipse Spyder
Year                                              2012    2012           2012
Make
AM General                                         NaN     NaN            NaN
ASC Incorporated                                   NaN     NaN            NaN
Acura                                              NaN     NaN            NaN
Alfa Romeo                                         NaN     NaN            NaN
American Motors Corporation                        NaN     NaN            NaN
...                                                ...     ...            ...
Volkswagen                                         NaN     NaN            NaN
Volvo                                              NaN     NaN            NaN
Wallace Environmental                              NaN     NaN            NaN
Yugo                                               NaN     NaN            NaN
smart                                              NaN     NaN            NaN


Model                       Galant i-MiEV Lancer Lancer AWD Lancer Evolution
Year                          2012   2012   2012       2012             2012
Make
AM General                     NaN    NaN    NaN        NaN              NaN
ASC Incorporated               NaN    NaN    NaN        NaN              NaN
Acura                          NaN    NaN    NaN        NaN              NaN
Alfa Romeo                     NaN    NaN    NaN        NaN              NaN
American Motors Corporation    NaN    NaN    NaN        NaN              NaN
...                            ...    ...    ...        ...              ...
Volkswagen                     NaN    NaN    NaN        NaN              NaN
Volvo                          NaN    NaN    NaN        NaN              NaN
Wallace Environmental          NaN    NaN    NaN        NaN              NaN
Yugo                           NaN    NaN    NaN        NaN              NaN
smart                          NaN    NaN    NaN        NaN              NaN

[127 rows x 26014 columns]

In [42]:
fuel.head()

                                                     Range (FT1)  \
Year Make                        Model
1984 Alfa Romeo                  GT V6 2.5                   0.0
                                 Spider Veloce 2000          0.0
     AM General                  DJ Po Vehicle 2WD           0.0
                                 FJ8c Post Office            0.0
     American Motors Corporation Eagle 4WD                   0.0

                                                     City Range (FT1)
Year Make                        Model
1984 Alfa Romeo                  GT V6 2.5                        0.0
                                 Spider Veloce 2000               0.0
     AM General                  DJ Po Vehicle 2WD                0.0
                                 FJ8c Post Office                 0.0
     American Motors Corporation Eagle 4WD                        0.0

In [43]:
fuel.unstack(level='Model')

                                 Range (FT1)                             \
Model                                 09-Mar 09-May 1-Ton Truck 2WD 100
Year Make
1984 AM General                          NaN    NaN             NaN NaN
     Alfa Romeo                          NaN    NaN             NaN NaN
     American Motors Corporation         NaN    NaN             NaN NaN
     Aston Martin                        NaN    NaN             NaN NaN
     Audi                                NaN    NaN             NaN NaN
...                                      ...    ...             ...  ..
2012 Maybach                             NaN    NaN             NaN NaN
     Mazda                               NaN    NaN             NaN NaN
     McLaren Automotive                  NaN    NaN             NaN NaN
     Mercedes-Benz                       NaN    NaN             NaN NaN
     Mitsubishi                          NaN    NaN             NaN NaN

                                                                               \
Model                            100 Wagon 100 quattro 100 quattro Wagon 1000
Year Make
1984 AM General                        NaN         NaN               NaN  NaN
     Alfa Romeo                        NaN         NaN               NaN  NaN
     American Motors Corporation       NaN         NaN               NaN  NaN
     Aston Martin                      NaN         NaN               NaN  NaN
     Audi                              NaN         NaN               NaN  NaN
...                                    ...         ...               ...  ...
2012 Maybach                           NaN         NaN               NaN  NaN
     Mazda                             NaN         NaN               NaN  NaN
     McLaren Automotive                NaN         NaN               NaN  NaN
     Mercedes-Benz                     NaN         NaN               NaN  NaN
     Mitsubishi                        NaN         NaN               NaN  NaN

                                                         ...  \
Model                            128ci Convertible 128i  ...
Year Make                                                ...
1984 AM General                                NaN  NaN  ...
     Alfa Romeo                                NaN  NaN  ...
     American Motors Corporation               NaN  NaN  ...
     Aston Martin                              NaN  NaN  ...
     Audi                                      NaN  NaN  ...
...                                            ...  ...  ...
2012 Maybach                                   NaN  NaN  ...
     Mazda                                     NaN  NaN  ...
     McLaren Automotive                        NaN  NaN  ...
     Mercedes-Benz                             NaN  NaN  ...
     Mitsubishi                                NaN  NaN  ...

                                   City Range (FT1)                     \
Model                            i-350 Crew Cab 4WD i-370 Crew Cab 2WD
Year Make
1984 AM General                                 NaN                NaN
     Alfa Romeo                                 NaN                NaN
     American Motors Corporation                NaN                NaN
     Aston Martin                               NaN                NaN
     Audi                                       NaN                NaN
...                                             ...                ...
2012 Maybach                                    NaN                NaN
     Mazda                                      NaN                NaN
     McLaren Automotive                         NaN                NaN
     Mercedes-Benz                              NaN                NaN
     Mitsubishi                                 NaN                NaN

                                                                            \
Model                            i-370 Crew Cab 4WD i-370 Extended Cab 2WD
Year Make
1984 AM General                                 NaN                    NaN
     Alfa Romeo                                 NaN                    NaN
     American Motors Corporation                NaN                    NaN
     Aston Martin                               NaN                    NaN
     Audi                                       NaN                    NaN
...                                             ...                    ...
2012 Maybach                                    NaN                    NaN
     Mazda                                      NaN                    NaN
     McLaren Automotive                         NaN                    NaN
     Mercedes-Benz                              NaN                    NaN
     Mitsubishi                                 NaN                    NaN


Model                              i-MiEV  iQ  tC  xA  xB  xD
Year Make
1984 AM General                       NaN NaN NaN NaN NaN NaN
     Alfa Romeo                       NaN NaN NaN NaN NaN NaN
     American Motors Corporation      NaN NaN NaN NaN NaN NaN
     Aston Martin                     NaN NaN NaN NaN NaN NaN
     Audi                             NaN NaN NaN NaN NaN NaN
...                                   ...  ..  ..  ..  ..  ..
2012 Maybach                          NaN NaN NaN NaN NaN NaN
     Mazda                            NaN NaN NaN NaN NaN NaN
     McLaren Automotive               NaN NaN NaN NaN NaN NaN
     Mercedes-Benz                    NaN NaN NaN NaN NaN NaN
     Mitsubishi                   68.5545 NaN NaN NaN NaN NaN

[1386 rows x 5914 columns]

In [44]:
fuel.unstack(level='Year')

                                                 Range (FT1)                 \
Year                                                    1984 1985 1986 1987
Make             Model
AM General       DJ Po Vehicle 2WD                       0.0  NaN  NaN  NaN
                 FJ8c Post Office                        0.0  NaN  NaN  NaN
                 Post Office DJ5 2WD                     NaN  0.0  NaN  NaN
                 Post Office DJ8 2WD                     NaN  0.0  NaN  NaN
ASC Incorporated GNX                                     NaN  NaN  NaN  0.0
...                                                      ...  ...  ...  ...
smart            fortwo cabriolet                        NaN  NaN  NaN  NaN
                 fortwo convertible                      NaN  NaN  NaN  NaN
                 fortwo coupe                            NaN  NaN  NaN  NaN
                 fortwo electric drive cabriolet         NaN  NaN  NaN  NaN
                 fortwo electric drive coupe             NaN  NaN  NaN  NaN

                                                                           \
Year                                             1988 1989 1990 1991 1992
Make             Model
AM General       DJ Po Vehicle 2WD                NaN  NaN  NaN  NaN  NaN
                 FJ8c Post Office                 NaN  NaN  NaN  NaN  NaN
                 Post Office DJ5 2WD              NaN  NaN  NaN  NaN  NaN
                 Post Office DJ8 2WD              NaN  NaN  NaN  NaN  NaN
ASC Incorporated GNX                              NaN  NaN  NaN  NaN  NaN
...                                               ...  ...  ...  ...  ...
smart            fortwo cabriolet                 NaN  NaN  NaN  NaN  NaN
                 fortwo convertible               NaN  NaN  NaN  NaN  NaN
                 fortwo coupe                     NaN  NaN  NaN  NaN  NaN
                 fortwo electric drive cabriolet  NaN  NaN  NaN  NaN  NaN
                 fortwo electric drive coupe      NaN  NaN  NaN  NaN  NaN

                                                       ... City Range (FT1)  \
Year                                             1993  ...             2003
Make             Model                                 ...
AM General       DJ Po Vehicle 2WD                NaN  ...              NaN
                 FJ8c Post Office                 NaN  ...              NaN
                 Post Office DJ5 2WD              NaN  ...              NaN
                 Post Office DJ8 2WD              NaN  ...              NaN
ASC Incorporated GNX                              NaN  ...              NaN
...                                               ...  ...              ...
smart            fortwo cabriolet                 NaN  ...              NaN
                 fortwo convertible               NaN  ...              NaN
                 fortwo coupe                     NaN  ...              NaN
                 fortwo electric drive cabriolet  NaN  ...              NaN
                 fortwo electric drive coupe      NaN  ...              NaN

                                                                           \
Year                                             2004 2005 2006 2007 2008
Make             Model
AM General       DJ Po Vehicle 2WD                NaN  NaN  NaN  NaN  NaN
                 FJ8c Post Office                 NaN  NaN  NaN  NaN  NaN
                 Post Office DJ5 2WD              NaN  NaN  NaN  NaN  NaN
                 Post Office DJ8 2WD              NaN  NaN  NaN  NaN  NaN
ASC Incorporated GNX                              NaN  NaN  NaN  NaN  NaN
...                                               ...  ...  ...  ...  ...
smart            fortwo cabriolet                 NaN  NaN  NaN  NaN  NaN
                 fortwo convertible               NaN  NaN  NaN  NaN  0.0
                 fortwo coupe                     NaN  NaN  NaN  NaN  0.0
                 fortwo electric drive cabriolet  NaN  NaN  NaN  NaN  NaN
                 fortwo electric drive coupe      NaN  NaN  NaN  NaN  NaN


Year                                             2009 2010 2011 2012
Make             Model
AM General       DJ Po Vehicle 2WD                NaN  NaN  NaN  NaN
                 FJ8c Post Office                 NaN  NaN  NaN  NaN
                 Post Office DJ5 2WD              NaN  NaN  NaN  NaN
                 Post Office DJ8 2WD              NaN  NaN  NaN  NaN
ASC Incorporated GNX                              NaN  NaN  NaN  NaN
...                                               ...  ...  ...  ...
smart            fortwo cabriolet                 NaN  0.0  0.0  NaN
                 fortwo convertible               0.0  NaN  NaN  NaN
                 fortwo coupe                     0.0  0.0  0.0  NaN
                 fortwo electric drive cabriolet  NaN  NaN  0.0  NaN
                 fortwo electric drive coupe      NaN  NaN  0.0  NaN

[3019 rows x 58 columns]

In [45]:
fuel.stack().unstack(level='Year')

Year                                                         1984  1985  1986  \
Make       Model
AM General DJ Po Vehicle 2WD               Range (FT1)        0.0   NaN   NaN
                                           City Range (FT1)   0.0   NaN   NaN
           FJ8c Post Office                Range (FT1)        0.0   NaN   NaN
                                           City Range (FT1)   0.0   NaN   NaN
           Post Office DJ5 2WD             Range (FT1)        NaN   0.0   NaN
...                                                           ...   ...   ...
smart      fortwo coupe                    City Range (FT1)   NaN   NaN   NaN
           fortwo electric drive cabriolet Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN
           fortwo electric drive coupe     Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN

Year                                                         1987  1988  1989  \
Make       Model
AM General DJ Po Vehicle 2WD               Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN
           FJ8c Post Office                Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN
           Post Office DJ5 2WD             Range (FT1)        NaN   NaN   NaN
...                                                           ...   ...   ...
smart      fortwo coupe                    City Range (FT1)   NaN   NaN   NaN
           fortwo electric drive cabriolet Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN
           fortwo electric drive coupe     Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN

Year                                                         1990  1991  1992  \
Make       Model
AM General DJ Po Vehicle 2WD               Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN
           FJ8c Post Office                Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN
           Post Office DJ5 2WD             Range (FT1)        NaN   NaN   NaN
...                                                           ...   ...   ...
smart      fortwo coupe                    City Range (FT1)   NaN   NaN   NaN
           fortwo electric drive cabriolet Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN
           fortwo electric drive coupe     Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN

Year                                                         1993  ...  2003  \
Make       Model                                                   ...
AM General DJ Po Vehicle 2WD               Range (FT1)        NaN  ...   NaN
                                           City Range (FT1)   NaN  ...   NaN
           FJ8c Post Office                Range (FT1)        NaN  ...   NaN
                                           City Range (FT1)   NaN  ...   NaN
           Post Office DJ5 2WD             Range (FT1)        NaN  ...   NaN
...                                                           ...  ...   ...
smart      fortwo coupe                    City Range (FT1)   NaN  ...   NaN
           fortwo electric drive cabriolet Range (FT1)        NaN  ...   NaN
                                           City Range (FT1)   NaN  ...   NaN
           fortwo electric drive coupe     Range (FT1)        NaN  ...   NaN
                                           City Range (FT1)   NaN  ...   NaN

Year                                                         2004  2005  2006  \
Make       Model
AM General DJ Po Vehicle 2WD               Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN
           FJ8c Post Office                Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN
           Post Office DJ5 2WD             Range (FT1)        NaN   NaN   NaN
...                                                           ...   ...   ...
smart      fortwo coupe                    City Range (FT1)   NaN   NaN   NaN
           fortwo electric drive cabriolet Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN
           fortwo electric drive coupe     Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN

Year                                                         2007  2008  2009  \
Make       Model
AM General DJ Po Vehicle 2WD               Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN
           FJ8c Post Office                Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN
           Post Office DJ5 2WD             Range (FT1)        NaN   NaN   NaN
...                                                           ...   ...   ...
smart      fortwo coupe                    City Range (FT1)   NaN   0.0   0.0
           fortwo electric drive cabriolet Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN
           fortwo electric drive coupe     Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN

Year                                                         2010  2011  2012
Make       Model
AM General DJ Po Vehicle 2WD               Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN
           FJ8c Post Office                Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN
           Post Office DJ5 2WD             Range (FT1)        NaN   NaN   NaN
...                                                           ...   ...   ...
smart      fortwo coupe                    City Range (FT1)   0.0   0.0   NaN
           fortwo electric drive cabriolet Range (FT1)        NaN  63.0   NaN
                                           City Range (FT1)   NaN   0.0   NaN
           fortwo electric drive coupe     Range (FT1)        NaN  63.0   NaN
                                           City Range (FT1)   NaN   0.0   NaN

[6038 rows x 29 columns]

In [46]:
fuel.stack().unstack(level=0)

Year                                                         1984  1985  1986  \
Make       Model
AM General DJ Po Vehicle 2WD               Range (FT1)        0.0   NaN   NaN
                                           City Range (FT1)   0.0   NaN   NaN
           FJ8c Post Office                Range (FT1)        0.0   NaN   NaN
                                           City Range (FT1)   0.0   NaN   NaN
           Post Office DJ5 2WD             Range (FT1)        NaN   0.0   NaN
...                                                           ...   ...   ...
smart      fortwo coupe                    City Range (FT1)   NaN   NaN   NaN
           fortwo electric drive cabriolet Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN
           fortwo electric drive coupe     Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN

Year                                                         1987  1988  1989  \
Make       Model
AM General DJ Po Vehicle 2WD               Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN
           FJ8c Post Office                Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN
           Post Office DJ5 2WD             Range (FT1)        NaN   NaN   NaN
...                                                           ...   ...   ...
smart      fortwo coupe                    City Range (FT1)   NaN   NaN   NaN
           fortwo electric drive cabriolet Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN
           fortwo electric drive coupe     Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN

Year                                                         1990  1991  1992  \
Make       Model
AM General DJ Po Vehicle 2WD               Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN
           FJ8c Post Office                Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN
           Post Office DJ5 2WD             Range (FT1)        NaN   NaN   NaN
...                                                           ...   ...   ...
smart      fortwo coupe                    City Range (FT1)   NaN   NaN   NaN
           fortwo electric drive cabriolet Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN
           fortwo electric drive coupe     Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN

Year                                                         1993  ...  2003  \
Make       Model                                                   ...
AM General DJ Po Vehicle 2WD               Range (FT1)        NaN  ...   NaN
                                           City Range (FT1)   NaN  ...   NaN
           FJ8c Post Office                Range (FT1)        NaN  ...   NaN
                                           City Range (FT1)   NaN  ...   NaN
           Post Office DJ5 2WD             Range (FT1)        NaN  ...   NaN
...                                                           ...  ...   ...
smart      fortwo coupe                    City Range (FT1)   NaN  ...   NaN
           fortwo electric drive cabriolet Range (FT1)        NaN  ...   NaN
                                           City Range (FT1)   NaN  ...   NaN
           fortwo electric drive coupe     Range (FT1)        NaN  ...   NaN
                                           City Range (FT1)   NaN  ...   NaN

Year                                                         2004  2005  2006  \
Make       Model
AM General DJ Po Vehicle 2WD               Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN
           FJ8c Post Office                Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN
           Post Office DJ5 2WD             Range (FT1)        NaN   NaN   NaN
...                                                           ...   ...   ...
smart      fortwo coupe                    City Range (FT1)   NaN   NaN   NaN
           fortwo electric drive cabriolet Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN
           fortwo electric drive coupe     Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN

Year                                                         2007  2008  2009  \
Make       Model
AM General DJ Po Vehicle 2WD               Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN
           FJ8c Post Office                Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN
           Post Office DJ5 2WD             Range (FT1)        NaN   NaN   NaN
...                                                           ...   ...   ...
smart      fortwo coupe                    City Range (FT1)   NaN   0.0   0.0
           fortwo electric drive cabriolet Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN
           fortwo electric drive coupe     Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN

Year                                                         2010  2011  2012
Make       Model
AM General DJ Po Vehicle 2WD               Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN
           FJ8c Post Office                Range (FT1)        NaN   NaN   NaN
                                           City Range (FT1)   NaN   NaN   NaN
           Post Office DJ5 2WD             Range (FT1)        NaN   NaN   NaN
...                                                           ...   ...   ...
smart      fortwo coupe                    City Range (FT1)   0.0   0.0   NaN
           fortwo electric drive cabriolet Range (FT1)        NaN  63.0   NaN
                                           City Range (FT1)   NaN   0.0   NaN
           fortwo electric drive coupe     Range (FT1)        NaN  63.0   NaN
                                           City Range (FT1)   NaN   0.0   NaN

[6038 rows x 29 columns]

In [47]:
fuel.stack().unstack(level='Model')

Model                                              09-Mar  09-May  \
Year Make
1984 AM General                  Range (FT1)          NaN     NaN
                                 City Range (FT1)     NaN     NaN
     Alfa Romeo                  Range (FT1)          NaN     NaN
                                 City Range (FT1)     NaN     NaN
     American Motors Corporation Range (FT1)          NaN     NaN
...                                                   ...     ...
2012 McLaren Automotive          City Range (FT1)     NaN     NaN
     Mercedes-Benz               Range (FT1)          NaN     NaN
                                 City Range (FT1)     NaN     NaN
     Mitsubishi                  Range (FT1)          NaN     NaN
                                 City Range (FT1)     NaN     NaN

Model                                              1-Ton Truck 2WD  100  \
Year Make
1984 AM General                  Range (FT1)                   NaN  NaN
                                 City Range (FT1)              NaN  NaN
     Alfa Romeo                  Range (FT1)                   NaN  NaN
                                 City Range (FT1)              NaN  NaN
     American Motors Corporation Range (FT1)                   NaN  NaN
...                                                            ...  ...
2012 McLaren Automotive          City Range (FT1)              NaN  NaN
     Mercedes-Benz               Range (FT1)                   NaN  NaN
                                 City Range (FT1)              NaN  NaN
     Mitsubishi                  Range (FT1)                   NaN  NaN
                                 City Range (FT1)              NaN  NaN

Model                                              100 Wagon  100 quattro  \
Year Make
1984 AM General                  Range (FT1)             NaN          NaN
                                 City Range (FT1)        NaN          NaN
     Alfa Romeo                  Range (FT1)             NaN          NaN
                                 City Range (FT1)        NaN          NaN
     American Motors Corporation Range (FT1)             NaN          NaN
...                                                      ...          ...
2012 McLaren Automotive          City Range (FT1)        NaN          NaN
     Mercedes-Benz               Range (FT1)             NaN          NaN
                                 City Range (FT1)        NaN          NaN
     Mitsubishi                  Range (FT1)             NaN          NaN
                                 City Range (FT1)        NaN          NaN

Model                                              100 quattro Wagon  1000  \
Year Make
1984 AM General                  Range (FT1)                     NaN   NaN
                                 City Range (FT1)                NaN   NaN
     Alfa Romeo                  Range (FT1)                     NaN   NaN
                                 City Range (FT1)                NaN   NaN
     American Motors Corporation Range (FT1)                     NaN   NaN
...                                                              ...   ...
2012 McLaren Automotive          City Range (FT1)                NaN   NaN
     Mercedes-Benz               Range (FT1)                     NaN   NaN
                                 City Range (FT1)                NaN   NaN
     Mitsubishi                  Range (FT1)                     NaN   NaN
                                 City Range (FT1)                NaN   NaN

Model                                              128ci Convertible  128i  \
Year Make
1984 AM General                  Range (FT1)                     NaN   NaN
                                 City Range (FT1)                NaN   NaN
     Alfa Romeo                  Range (FT1)                     NaN   NaN
                                 City Range (FT1)                NaN   NaN
     American Motors Corporation Range (FT1)                     NaN   NaN
...                                                              ...   ...
2012 McLaren Automotive          City Range (FT1)                NaN   NaN
     Mercedes-Benz               Range (FT1)                     NaN   NaN
                                 City Range (FT1)                NaN   NaN
     Mitsubishi                  Range (FT1)                     NaN   NaN
                                 City Range (FT1)                NaN   NaN

Model                                              ...  i-350 Crew Cab 4WD  \
Year Make                                          ...
1984 AM General                  Range (FT1)       ...                 NaN
                                 City Range (FT1)  ...                 NaN
     Alfa Romeo                  Range (FT1)       ...                 NaN
                                 City Range (FT1)  ...                 NaN
     American Motors Corporation Range (FT1)       ...                 NaN
...                                                ...                 ...
2012 McLaren Automotive          City Range (FT1)  ...                 NaN
     Mercedes-Benz               Range (FT1)       ...                 NaN
                                 City Range (FT1)  ...                 NaN
     Mitsubishi                  Range (FT1)       ...                 NaN
                                 City Range (FT1)  ...                 NaN

Model                                              i-370 Crew Cab 2WD  \
Year Make
1984 AM General                  Range (FT1)                      NaN
                                 City Range (FT1)                 NaN
     Alfa Romeo                  Range (FT1)                      NaN
                                 City Range (FT1)                 NaN
     American Motors Corporation Range (FT1)                      NaN
...                                                               ...
2012 McLaren Automotive          City Range (FT1)                 NaN
     Mercedes-Benz               Range (FT1)                      NaN
                                 City Range (FT1)                 NaN
     Mitsubishi                  Range (FT1)                      NaN
                                 City Range (FT1)                 NaN

Model                                              i-370 Crew Cab 4WD  \
Year Make
1984 AM General                  Range (FT1)                      NaN
                                 City Range (FT1)                 NaN
     Alfa Romeo                  Range (FT1)                      NaN
                                 City Range (FT1)                 NaN
     American Motors Corporation Range (FT1)                      NaN
...                                                               ...
2012 McLaren Automotive          City Range (FT1)                 NaN
     Mercedes-Benz               Range (FT1)                      NaN
                                 City Range (FT1)                 NaN
     Mitsubishi                  Range (FT1)                      NaN
                                 City Range (FT1)                 NaN

Model                                              i-370 Extended Cab 2WD  \
Year Make
1984 AM General                  Range (FT1)                          NaN
                                 City Range (FT1)                     NaN
     Alfa Romeo                  Range (FT1)                          NaN
                                 City Range (FT1)                     NaN
     American Motors Corporation Range (FT1)                          NaN
...                                                                   ...
2012 McLaren Automotive          City Range (FT1)                     NaN
     Mercedes-Benz               Range (FT1)                          NaN
                                 City Range (FT1)                     NaN
     Mitsubishi                  Range (FT1)                          NaN
                                 City Range (FT1)                     NaN

Model                                               i-MiEV  iQ  tC  xA  xB  xD
Year Make
1984 AM General                  Range (FT1)           NaN NaN NaN NaN NaN NaN
                                 City Range (FT1)      NaN NaN NaN NaN NaN NaN
     Alfa Romeo                  Range (FT1)           NaN NaN NaN NaN NaN NaN
                                 City Range (FT1)      NaN NaN NaN NaN NaN NaN
     American Motors Corporation Range (FT1)           NaN NaN NaN NaN NaN NaN
...                                                    ...  ..  ..  ..  ..  ..
2012 McLaren Automotive          City Range (FT1)      NaN NaN NaN NaN NaN NaN
     Mercedes-Benz               Range (FT1)           NaN NaN NaN NaN NaN NaN
                                 City Range (FT1)      NaN NaN NaN NaN NaN NaN
     Mitsubishi                  Range (FT1)       62.0000 NaN NaN NaN NaN NaN
                                 City Range (FT1)  68.5545 NaN NaN NaN NaN NaN

[2772 rows x 2957 columns]

In [48]:
fuel.stack().unstack(level=['Year', 'Make'])

Year                                   1984             \
Make                             Alfa Romeo AM General
Model
09-Mar          Range (FT1)             NaN        NaN
                City Range (FT1)        NaN        NaN
09-May          Range (FT1)             NaN        NaN
                City Range (FT1)        NaN        NaN
1-Ton Truck 2WD Range (FT1)             NaN        NaN
...                                     ...        ...
xA              City Range (FT1)        NaN        NaN
xB              Range (FT1)             NaN        NaN
                City Range (FT1)        NaN        NaN
xD              Range (FT1)             NaN        NaN
                City Range (FT1)        NaN        NaN

Year                                                                       \
Make                             American Motors Corporation Aston Martin
Model
09-Mar          Range (FT1)                              NaN          NaN
                City Range (FT1)                         NaN          NaN
09-May          Range (FT1)                              NaN          NaN
                City Range (FT1)                         NaN          NaN
1-Ton Truck 2WD Range (FT1)                              NaN          NaN
...                                                      ...          ...
xA              City Range (FT1)                         NaN          NaN
xB              Range (FT1)                              NaN          NaN
                City Range (FT1)                         NaN          NaN
xD              Range (FT1)                              NaN          NaN
                City Range (FT1)                         NaN          NaN

Year                                                                    \
Make                             Audi Avanti Motor Corporation Bertone
Model
09-Mar          Range (FT1)       NaN                      NaN     NaN
                City Range (FT1)  NaN                      NaN     NaN
09-May          Range (FT1)       NaN                      NaN     NaN
                City Range (FT1)  NaN                      NaN     NaN
1-Ton Truck 2WD Range (FT1)       NaN                      NaN     NaN
...                               ...                      ...     ...
xA              City Range (FT1)  NaN                      NaN     NaN
xB              Range (FT1)       NaN                      NaN     NaN
                City Range (FT1)  NaN                      NaN     NaN
xD              Range (FT1)       NaN                      NaN     NaN
                City Range (FT1)  NaN                      NaN     NaN

Year                                                            \
Make                             Bill Dovell Motor Car Company
Model
09-Mar          Range (FT1)                                NaN
                City Range (FT1)                           NaN
09-May          Range (FT1)                                NaN
                City Range (FT1)                           NaN
1-Ton Truck 2WD Range (FT1)                                NaN
...                                                        ...
xA              City Range (FT1)                           NaN
xB              Range (FT1)                                NaN
                City Range (FT1)                           NaN
xD              Range (FT1)                                NaN
                City Range (FT1)                           NaN

Year                                                         ...  2012  \
Make                             Bitter Gmbh and Co. Kg BMW  ... Lexus
Model                                                        ...
09-Mar          Range (FT1)                         NaN NaN  ...   NaN
                City Range (FT1)                    NaN NaN  ...   NaN
09-May          Range (FT1)                         NaN NaN  ...   NaN
                City Range (FT1)                    NaN NaN  ...   NaN
1-Ton Truck 2WD Range (FT1)                         NaN NaN  ...   NaN
...                                                 ...  ..  ...   ...
xA              City Range (FT1)                    NaN NaN  ...   NaN
xB              Range (FT1)                         NaN NaN  ...   NaN
                City Range (FT1)                    NaN NaN  ...   NaN
xD              Range (FT1)                         NaN NaN  ...   NaN
                City Range (FT1)                    NaN NaN  ...   NaN

Year                                                                   \
Make                             Lincoln Lotus Maserati Maybach Mazda
Model
09-Mar          Range (FT1)          NaN   NaN      NaN     NaN   NaN
                City Range (FT1)     NaN   NaN      NaN     NaN   NaN
09-May          Range (FT1)          NaN   NaN      NaN     NaN   NaN
                City Range (FT1)     NaN   NaN      NaN     NaN   NaN
1-Ton Truck 2WD Range (FT1)          NaN   NaN      NaN     NaN   NaN
...                                  ...   ...      ...     ...   ...
xA              City Range (FT1)     NaN   NaN      NaN     NaN   NaN
xB              Range (FT1)          NaN   NaN      NaN     NaN   NaN
                City Range (FT1)     NaN   NaN      NaN     NaN   NaN
xD              Range (FT1)          NaN   NaN      NaN     NaN   NaN
                City Range (FT1)     NaN   NaN      NaN     NaN   NaN

Year                                                                    \
Make                             McLaren Automotive Mercedes-Benz MINI
Model
09-Mar          Range (FT1)                     NaN           NaN  NaN
                City Range (FT1)                NaN           NaN  NaN
09-May          Range (FT1)                     NaN           NaN  NaN
                City Range (FT1)                NaN           NaN  NaN
1-Ton Truck 2WD Range (FT1)                     NaN           NaN  NaN
...                                             ...           ...  ...
xA              City Range (FT1)                NaN           NaN  NaN
xB              Range (FT1)                     NaN           NaN  NaN
                City Range (FT1)                NaN           NaN  NaN
xD              Range (FT1)                     NaN           NaN  NaN
                City Range (FT1)                NaN           NaN  NaN

Year
Make                             Mitsubishi
Model
09-Mar          Range (FT1)             NaN
                City Range (FT1)        NaN
09-May          Range (FT1)             NaN
                City Range (FT1)        NaN
1-Ton Truck 2WD Range (FT1)             NaN
...                                     ...
xA              City Range (FT1)        NaN
xB              Range (FT1)             NaN
                City Range (FT1)        NaN
xD              Range (FT1)             NaN
                City Range (FT1)        NaN

[5914 rows x 1386 columns]

In [49]:
fuel.stack().unstack(level=['Make', 'Year']).sort_index(axis=1)

Make                             AM General      ASC Incorporated Acura       \
Year                                   1984 1985             1987  1986 1987
Model
09-Mar          Range (FT1)             NaN  NaN              NaN   NaN  NaN
                City Range (FT1)        NaN  NaN              NaN   NaN  NaN
09-May          Range (FT1)             NaN  NaN              NaN   NaN  NaN
                City Range (FT1)        NaN  NaN              NaN   NaN  NaN
1-Ton Truck 2WD Range (FT1)             NaN  NaN              NaN   NaN  NaN
...                                     ...  ...              ...   ...  ...
xA              City Range (FT1)        NaN  NaN              NaN   NaN  NaN
xB              Range (FT1)             NaN  NaN              NaN   NaN  NaN
                City Range (FT1)        NaN  NaN              NaN   NaN  NaN
xD              Range (FT1)             NaN  NaN              NaN   NaN  NaN
                City Range (FT1)        NaN  NaN              NaN   NaN  NaN

Make                                                       ...  \
Year                             1988 1989 1990 1991 1992  ...
Model                                                      ...
09-Mar          Range (FT1)       NaN  NaN  NaN  NaN  NaN  ...
                City Range (FT1)  NaN  NaN  NaN  NaN  NaN  ...
09-May          Range (FT1)       NaN  NaN  NaN  NaN  NaN  ...
                City Range (FT1)  NaN  NaN  NaN  NaN  NaN  ...
1-Ton Truck 2WD Range (FT1)       NaN  NaN  NaN  NaN  NaN  ...
...                               ...  ...  ...  ...  ...  ...
xA              City Range (FT1)  NaN  NaN  NaN  NaN  NaN  ...
xB              Range (FT1)       NaN  NaN  NaN  NaN  NaN  ...
                City Range (FT1)  NaN  NaN  NaN  NaN  NaN  ...
xD              Range (FT1)       NaN  NaN  NaN  NaN  NaN  ...
                City Range (FT1)  NaN  NaN  NaN  NaN  NaN  ...

Make                             Wallace Environmental Yugo                 \
Year                                              1992 1986 1987 1988 1989
Model
09-Mar          Range (FT1)                        NaN  NaN  NaN  NaN  NaN
                City Range (FT1)                   NaN  NaN  NaN  NaN  NaN
09-May          Range (FT1)                        NaN  NaN  NaN  NaN  NaN
                City Range (FT1)                   NaN  NaN  NaN  NaN  NaN
1-Ton Truck 2WD Range (FT1)                        NaN  NaN  NaN  NaN  NaN
...                                                ...  ...  ...  ...  ...
xA              City Range (FT1)                   NaN  NaN  NaN  NaN  NaN
xB              Range (FT1)                        NaN  NaN  NaN  NaN  NaN
                City Range (FT1)                   NaN  NaN  NaN  NaN  NaN
xD              Range (FT1)                        NaN  NaN  NaN  NaN  NaN
                City Range (FT1)                   NaN  NaN  NaN  NaN  NaN

Make                                  smart
Year                             1990  2008 2009 2010 2011
Model
09-Mar          Range (FT1)       NaN   NaN  NaN  NaN  NaN
                City Range (FT1)  NaN   NaN  NaN  NaN  NaN
09-May          Range (FT1)       NaN   NaN  NaN  NaN  NaN
                City Range (FT1)  NaN   NaN  NaN  NaN  NaN
1-Ton Truck 2WD Range (FT1)       NaN   NaN  NaN  NaN  NaN
...                               ...   ...  ...  ...  ...
xA              City Range (FT1)  NaN   NaN  NaN  NaN  NaN
xB              Range (FT1)       NaN   NaN  NaN  NaN  NaN
                City Range (FT1)  NaN   NaN  NaN  NaN  NaN
xD              Range (FT1)       NaN   NaN  NaN  NaN  NaN
                City Range (FT1)  NaN   NaN  NaN  NaN  NaN

[5914 rows x 1386 columns]